body{
    background-color: rgb(192, 226, 237)
    ;
}
.floor-div{
    background-color: black;
    width: 70%;
    height: 0.5rem;
    position: absolute;
    border-radius: 10px;
    top:80%;
    left:15%
}
.end-box{
     background-color: #dedbdb;
     width: 45%;
     height: 5rem;
      top:69%;
    left:29%;
     border-radius: 10px;
      position: absolute;
     border: 4px solid black;
}
.juice-marker-box{
     background-color: #dedbdb;
     border: 4px solid black;
    width:37%;
     height: 12rem;
    top:45%;
    left:33%;
      position: absolute;
      border-radius: 10px;
      z-index: 0;
}
.top-div{
   background-color: black;
    width: 41%;
    height: 1rem;
    position: absolute;
   	border-radius:12px 12px 40px 40px;
    top:45%;
    left:31%;
z-index: 1;
}
.machine-top{
    background-color: #dedbdb;
   width: 45%;
    border: 4px solid black;
    height: 7rem;
    position: absolute;
    top:30%;
    left:29%;
z-index: 1;
border-radius: 12px 12px 30px 30px;
}
.beverage-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width:100%;
     height: 12rem;
     position: absolute;
}
.beverage-div div{
    
}

.top-machine{
    background-color: rgb(241, 236, 236);
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    width:45%;
    height: 4rem;
    border-radius: 2px 1px 10px 10px;
    margin-left:20%;
    margin-top: -18%;
    cursor: pointer;
}
.top-machine .fruit-emoji{
    color:white;
    font-weight: bold;
   padding-top: 5%;
   font-size: 25px;
}
.press{
   margin-top: -2%;
}
.base-machine{
     background-color: black;
    width: 50%;
    height: 0.5rem;
    
    border-radius: 10px;
    margin-top: 60.5%;
    margin-left:23%;
}
.middle-part{
    background-color: rgb(111, 109, 109);
   height: 0.5rem;
   width:35%;
    margin-left:27%;
    margin-top: 0%;
    border: 3px solid black;
}
.end-part{
    background-color: rgb(135, 133, 133);
    height: 0.5rem;
   width:5%;
    margin-left:40%;
    margin-top: 0%;
     border: 3px solid black;
}